<h1>Your Dictionary!</h1>

<p>Here are your words:</p>

<ul>
  <% @words.each() do |word| %>
  <li><%= word.list() %></li>
  <% end %>
</ul>

<p>Add a word and it's definition!</p>

<form action="/confirmation" method="post">
  <label for="word">Word</label>
  <input require id="word" name="word" type="text">
  <label for="definition1">Definition1</label>
  <input require id="definition1" name="definition1" type="text">
  <label for="definition2">Definition2</label>
  <input require id="definition2" name="definition2" type="text">

  <button type="submit">Add</button>
</form>
