<h1>Your Dictionary!</h1>

<form action="/new_word_form" class="word_form" method="get">
  <button id="new_word_form" type="submit" class="btn btn-primary btn-lg" name="button">Add New Word</button>
</form>

<p>Here are your words:</p>

<ul>
  <% @words.each() do |word| %>
  <li><%= word.list() %></li>
  <% end %>
</ul>
