<% if @words.length().>(0) %>
  <h2>Here are you words:</h2>
  <ul>
    <%@words.each() do |word|%>
    <li><a href='/words/<%= word.id() %>'><%= word.name() %></a></li>
    <%end%>
  </ul>
  <p><a href='/words/new'>Add Another Word</a></p>

  <% else %>
  <p><a href='/words/new'>Add a Word</a></p>
<% end %>
