<div class="page">
  <% if @words.length().>(0) %>
    <h2>Here are your words:</h2>
    <ul>
      <% @words.each() do |word| %>
      <li><a href="/words/<%= word.id() %>"><%= word.name() %></a></li>
      <% end %>
    </ul>
    <p><a href="/words/new">Add A Word</a></p>

    <% else %>
    <h2>There are now words:</h2>
    <p><a href='/words/new'>Add A Word</a></p>
  <% end %>
</div>
