<h1>Add a Word</h1>

<form action="/" method="post">
  <label for="input_word">Word:</label>
  <input type="text" name="input_word" required>
  <label for="input_definition1">Definition:</label>
  <input type="text" name="input_definition1" required>

  <form action="/confirmation" class="word_form" method="get">
    <button type="submit" class="btn btn-primary btn-lg" name="Add Word">Add New Word</button>
  </form>
</form>
