<h1>Add a Word</h1>

<form action="/create_word" method="post">
  <input type="text" name="word" value="">Word

  <input type="text" name="definition1" value="">Definition:
  
  <button type="submit" name="button">Add Contact</button>
</form>
