<h1>Add a Word</h1>

<form action="/create_world" method="post">
  <label for="word">Word:</label>
  <input id="word" name="word" type="text" required>
  <label for="definition1">Definition:</label>
  <input id="definition2" name="word" type="text" required>
  <button type="submit">Add word</button>
</form>
