<h3>Success!</h3>

<h5>Your word "<%= @word.name() %>" has been created.</h5>

<p><a href="/words/<%= @word.id() %>/definitions/new">Add a definition for "<%= @word.name() %>"</a></p>
<p><a href="/">View Words</a></p>
