<h2>Success!</h2>

<h3>Your word "<%= @word.name() %>" has been created</h3>

<%@word.definition_entries().each() do |definition, i|%>
  <p>Definition:</p>
  <p>"<%=definition.definition_one()%>"</p>
<% end %>

<ul>
  <li><a href='/words/<%=@word.id()%>/definitions/new'>Add a Definition</a></li>
</ul>
