<h2><%= @word.name() %></h2>

<%@word.entries().each() do |definition, i|%>
<ul>
  <li>Definition:</li>
  <li>"<%= definition.definition_main() %>"</li>
</ul>
<% end %>

<div class="links">
  <p><a href="/words/<%=@word.id()%>/definitions/new">Add a definition</a></p>
  <p><a href="/">Home</a></p>
</div>
